@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 7px 16px 7px 16px;
}

.status .mob-info {
    display: flex;
    align-items: center;
    height: 11px;
    padding: 0px 1px 0px 1px;
    gap: 8px;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px 0 15px;
    background-color: #ffffff
}

.left-header {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.left-header .menu-bg{
    width: 40px;
    height: 40px;
    border-radius: 60px;
    padding: 10px;
    background-color: #F2F8FE;
    position: relative;
}

.menu-bg > img{
    width: 22.5px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.left-header h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #1C4980;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 10px;
}